<br/>
<div class="container" style="padding-top: 50px; box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;">

    <div class="well col-sm-12" style="border-color: black ">

        What is PiNET about 2222?
    </div>
</div>
<div class="container " style="padding-top: 10px;">


    <div class="bs-callout bs-callout-primary ">
        <img src="images/pinet-logo.png" style="float: left;" height="155" width="150" />
        <h3> PiNET</h3>

        <p>piNET can be used to annotate, map and analyze a set of peptide moieties
            (including post-translationally modified peptides) identified by either
            targeted (SRM type) or SWATH (discovery) proteomic assays, or another
            related mass spectrometry based protein moieties identification and
            quantification technique. Starting from a set of peptides, and optional
            modifications within those peptides, piNET provides mapping into
            canonical UniProt protein entries, standardized annotation of
            modifications using PsiMOD ontology, and mapping of the sites of PTMs in
            the full UniProt entries. piNET further generates Protein Line Notation
            tokens to represent each peptide moiety with modifications for automated
            annotation exchange systems. The set of proteins and PTM sites can be
            further projected onto biological pathways using enrichment analysis and
            a comprehensive library of biological gene/protein sets through Enrichr.
            For phosphorylation, PhosphoSitePlus known kinase - target peptides (and
            extrapolations form known examples to sufficiently similar putative
            target peptides) are used to provide a site specific network and
            pathways views. Work is in progress to extend the capabilities to
            include other PTMs in network projections, and to enable annotation of
            mouse and rat proteomics data.</p>
    </div>

    <div  style="padding-top: 50px;"/>
        <h3> References</h3>
        <hr/>

        <div class="bs-callout bs-callout-default">
            <p><span style="color:steelblue;" class="glyphicon glyphicon-cog">  </span> &nbsp;Natale, D. A., Arighi, C. N., Barker, W. C., Blake, J. A., Bult, C. J., Caudy, M., … Wu,
                C.
                H.
                (2011).
                The Protein Ontology: a structured representation of protein forms and complexes.
                Nucleic
                Acids
                Research, 39(Database issue), D539–D545. doi:10.1093/nar/gkq907.</p>


                <p><span style="color:steelblue;" class="glyphicon glyphicon-cog">  </span> &nbsp;Kuleshov MV, Jones MR, Rouillard AD, Fernandez NF, Duan Q, Wang Z, Koplev S, Jenkins SL, Jagodnik KM, Lachmann A, McDermott MG, Monteiro CD, Gundersen GW, Ma'ayan A.
                    Enrichr: a comprehensive gene set enrichment analysis web server 2016 update. Nucleic Acids Research. 2016; gkw377.
                </p>
            <p><span style="color:steelblue;" class="glyphicon glyphicon-cog">  </span> &nbsp;Hornbeck PV, Zhang B, Murray B, Kornhauser JM, Latham V, Skrzypek E PhosphoSitePlus, 2014: mutations, PTMs and recalibrations. Nucleic Acids Res. 2015 43:D512-20. </p>

        </div>


</div>

