
<br/>
<div class="container" style="padding-top: 50px; background-color: #c9c9c9">
    <div class="well col-sm-12" style="background-color: #c9c9c9">

    Enter Post Translational Modification (PTM) of a protein or for example try the list of
    <a href="javascript:void(0);" class="onerow2" ng-click="ctrl.changeToP100PTMs('table')"
       ng-style="{'font-weight': 'bold'}">
        LINCS P100 phospho peptides&nbsp;
    </a>
    . They can sparated by comma, semi-colon or new line. To check the post-translational
    modification of a gene product, put "gene-name[pA@site]", where p means phosphorylated and A is an amino acid,
    for example DYRK1A[pY@321].
    </div>
</div>
<div class="container " style="padding-top: 10px;">

    <div class="well col-sm-12">

        <!--<a style="text-decoration: none;">-->
        <!--<a class= "collapse in" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" style="text-decoration: none; ">-->

        <!--<span style="color:steelblue;" class="glyphicon glyphicon-cog"></span> &nbsp;-->
        Enter Gene/Phosphogenes or for example try the list of
        <button class="btn btn-primary " ng-click="ctrl.changeToP100('table')">
            LINCS P100 data set&nbsp;
        </button>
        . Gene names should be sparated by comma, semi-colon or new line. To check the post-translational
        modification of a gene product, put "gene-name[pA@site]", where p means phosphorylated and A is an amino acid,
        for example DYRK1A[pY@321].
        <hr/>

        <div class=" form-group col-sm-4" style="padding-left: 0px;">
            <div class="horizontal-scroll" style=padding-bottom:10px;">
                <!--<div class="horizontal-scroll" style="padding-top:8px; padding-bottom:10px;" >-->
                <span style="color:steelblue;" class="glyphicon glyphicon-cog">  </span>
                <label style="padding-bottom: 24px;">Enter genes/PTM genes&nbsp;
                    <br/>
                </label>


                <!--<span style="float:left">-->
                <!--<span style="color:steelblue;" class="glyphicon glyphicon-cog">  </span> &nbsp;Enter genes/PTM genes-->
                <!--</span>-->
                <div>

                    <textarea class="form-control" rows="5" ng-model="ctrl.genesPTMs"></textarea>
                    <!--console.log()-->
                </div>

            </div>


            Delimiter: &nbsp;
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option2" checked="true" disabled="true"> comma
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option1" checked="true" disabled="true">
                semi-colon
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3" checked="true" disabled="true"> new line
            </label>
            <!--<a class="nav navbar-nav" style="padding-bottom: 12px;" href="/pln/modification.html" target="_blank">Input Format Description</a>-->
            <div style="float:left;">
                <span>
                    <hr/>
                    <p>
                    &nbsp;<span style='color:blue'>{{ctrl.numberOfAllValidGenes}}</span> out of {{ctrl.numberOfAllInputGenes}} input genes are valid genes.
                    </p>
                    <span ng-if="ctrl.flagFoundNPCG">
                        &nbsp;Not valid genes are:
                        <span style='color:blue'>
                            <div ng-repeat="nonValid in ctrl.nonValidGenes">{{nonValid}}&nbsp</div>
                        </span>
                        Gene name identification is case sensitive, Try other names of these genes or copy and paste the gene names again!
                    </span>

                </span>
            </div>
        </div>

        <div class=" form-group col-sm-2 col-sm-offset-1">
            <label style="padding-bottom: 24px;">Input Gene Symbols&nbsp;
                <!--<span style="color:steelblue;" class="glyphicon glyphicon-question-sign"-->
                <!--data-delay='{"show":"0", "hide":"100"}'-->
                <!--data-toggle="tooltip"-->
                <!--title="Parsed motifs are used to query ProSite API. They are obtained from entered peptides by parsing them with JavaScript regular expression: /[^A-Z]/g">-->

                <!--</span>-->


                <br/>
            </label>
            <div class=" list-responsive-vertical2" style="word-wrap:break-word;" id="div1">
                <!--<div ng-repeat="gene in ctrl.parsedGenes track by $index">{{gene}}<br/></div>-->
                <div ng-repeat="item in ctrl.inputGeneInfo track by $index">{{item.symbol}}<br/></div>
            </div>
        </div>

        <div class=" form-group col-sm-5 col-sm-offset-0">
            <label style="padding-bottom: 24px;">Gene Names&nbsp;
                <!--<span style="color:steelblue;" class="glyphicon glyphicon-question-sign"-->
                <!--data-delay='{"show":"0", "hide":"100"}'-->
                <!--data-toggle="tooltip"-->
                <!--title="Parsed modifications are used to query PSIsty-MOD ontology. They are obtained from entered peptides by parsing them with JavaScript regular expression: /[A-Z]\[\+[\d\.]+]/g">-->

                <!--</span>-->
                <br/>
            </label>
            <div class="list-responsive-vertical3" style="word-wrap:break-word;" id="div2">
                <div ng-repeat="item in ctrl.inputGeneInfo track by $index">{{item.name}}<br/></div>
            </div>

        </div>


        <button style="float:right" class="btn btn-primary col-sm-offset-10" ng-click="ctrl.onSubmitPtm('table')">
            Submit &nbsp;
            <span ng-show="ctrl.pathwayWaiting">
                            <span class="fa fa-spinner"></span>
                    </span>
        </button>


    </div>


    <div class="container" ng-show="ctrl.showOutputPathway ">

        <form class="form-inline">
            <div class="form-group">
                <label>Search</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>

        <hr/>

        <div ng-show="ctrl.showGeneNetwork">

            <div class="well">
                <h3>Input Gene Info</h3>
            </div>

            <div class="well" ng-show="true">

                <!--<div ng-controller="myCtrl">-->
                <button class="btn btn-primary " ng-click="exportDataGeneInfo()">Download Table</button>
                <!--</div>-->
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Gene Symbol</th>
                        <th>Gene Name</th>
                        <th>HGNC ID</th>
                        <th>Gene Family</th>
                        <th>Previous Symbols</th>
                        <th>Uniprot IDs</th>
                        <th>Locus Group</th>
                    </tr>
                    </thead>
                    <tbody dir-paginate="gene in ctrl.inputGeneInfo | filter:search  | itemsPerPage:10 "
                           ng-if="gene.symbol != ''" pagination-id="metaData21">
                    <!--<tbody pagination-id="metaData21">-->
                    <!--<tr >-->
                    <!--<tr ng-repeat="gene in ctrl.inputGeneInfo |filter:search | itemsPerPage:10 "  ng-if="gene.symbol != ''" >-->
                    <!--<tr ng-repeat="gene in ctrl.inputGeneInfo |filter:search | itemsPerPage:10:'genesPagination'" current-page="currentPage" pagination-id="genesPagination" ng-if="gene.symbol != ''">-->
                    <td>
                        <a ng-href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{gene.symbol}}"
                           target="_blank">{{gene.symbol}}</a>
                    </td>
                    <!--New version of http://www.ebi.ac.uk/ols/ontologies/mod/terms?obo_id={{mapping.identifier}}-->
                    <!--Old version of http://www.ebi.ac.uk/ontology-lookup/?termId={{mapping.identifier}}-->
                    <td>{{gene.name}}</td>
                    <td>{{gene.hgnc_id}}</td>
                    <td>
                                <span ng-repeat="family in gene.gene_family track by $index">
                                    {{family}}<br/>
                                </span>
                    </td>
                    <td>
                                    <span ng-repeat="symbol in gene.prev_symbol track by $index">
                                    <a ng-href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{symbol}}"
                                       target="_blank">{{symbol}}</a><br/>
                                </span>
                    <td>
                                    <span ng-repeat="uniprot in gene.uniprot_ids track by $index">
                                        <a ng-href="http://www.uniprot.org/uniprot/{{uniprot}}"
                                           target="_blank">{{uniprot}}</a><br/>
                                </span>
                    </td>
                    <td>{{gene.locus_group}}</td>
                    <!--</tr>-->
                    </tbody>
                </table>
                <dir-pagination-controls
                        pagination-id="metaData21"
                        max-size="10"
                        direction-links="true"
                        boundary-links="true">
                </dir-pagination-controls>
                <!--<dir-pagination-controls-->
                <!--max-size="10"-->
                <!--direction-links="true"-->
                <!--boundary-links="true" >-->
                <!--</dir-pagination-controls>-->
            </div>
            <br/>

        </div>


        <div ng-show="ctrl.showPhosphoGeneNetwork">
            <div class="well">
                <h3>Blosum50 Kinase to Gene Info Table

                    <span ng-show="!ctrl.showPhosphoGeneNetworkProcessed">
                                    <span class="fa fa-spinner"></span>
                            </span>
                </h3>
                <div class="bs-callout bs-callout-primary">
                    <p>Blosum50 Kinase table shows the most similar kinase target motifs based on the similarity scores
                        more than half of the maximum Blosum50 score of the gene sequence phosphorylated at a specific
                        site.
                        For example, if the Blosum50 score of sequence S by it self is A, this table shows all of the
                        sequences,
                        targeted by kinases that has more than more than A/2 similarity score with sequence S.
                    </p>
                </div>
            </div>

            <div ng-show="ctrl.showPhosphoGeneNetworkProcessed">

                <div class="well" ng-show="true">

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>phosphoGene</th>
                            <th>validity</th>
                            <th>amino</th>
                            <th>kinase</th>
                            <th>kinase organism</th>
                            <th>gene sequence</th>
                            <th>kinase peptide</th>
                            <th>blosum50 Percent</th>
                            <th>max blosum50</th>
                        </tr>
                        </thead>
                        <tbody dir-paginate="gene in ctrl.blosum50Table | filter:search | orderBy:'-blosum50ScorePercent' | itemsPerPage:10 "
                               pagination-id="metaData22">
                        <!--<tbody pagination-id="metaData22">-->
                        <!--<tr >-->
                        <!--<tr ng-repeat="gene in ctrl.blosum50Table |filter:search | itemsPerPage:10 "  ng-if="gene.symbol != ''" >-->
                        <!--<tr ng-repeat="gene in ctrl.inputGeneInfo |filter:search | itemsPerPage:10:'genesPagination'" current-page="currentPage" pagination-id="genesPagination" ng-if="gene.symbol != ''">-->
                        <td>{{gene.phosphoGene}}</td>
                        <td>{{gene.valid}}</td>
                        <td>{{gene.amino}}</td>
                        <td>{{gene.kinase}}</td>
                        <td>{{gene.kinaseOrganism}}</td>
                        <td>
                            <!--<div class="list-responsive-vertical" style="word-wrap:break-word;">-->
                            {{gene.geneSequence.slice(0,7)}}<span
                                style='color:red'>{{gene.geneSequence.slice(7,8)}}</span>{{gene.geneSequence.slice(8,gene.geneSequence.length)}}
                            <!--</div>-->

                            <!--{{gene.geneSequence}}-->
                        </td>
                        <td>
                            {{gene.kinasePeptide.slice(0,7)}}<span
                                style='color:red'>{{gene.kinasePeptide.slice(7,8)}}</span>{{gene.kinasePeptide.slice(8,gene.kinasePeptide.length)}}
                            <!--{{gene.kinasePeptide}}-->
                        </td>
                        <td>{{gene.blosum50ScorePercent}}</td>
                        <td>{{gene.blosum50MaxScore}}</td>

                        <!--</tr>-->
                        </tbody>
                    </table>
                    <dir-pagination-controls
                            pagination-id="metaData22"
                            max-size="10"
                            direction-links="true"
                            boundary-links="true">
                    </dir-pagination-controls>
                    <!--<dir-pagination-controls-->
                    <!--max-size="10"-->
                    <!--direction-links="true"-->
                    <!--boundary-links="true" >-->
                    <!--</dir-pagination-controls>-->
                </div>
                <br/>
            </div>

        </div>


        <div ng-show="ctrl.showGeneNetwork">

            <div class="well">
                <h3>Pathway View
                    <span ng-show="!ctrl.showGeneNetworkProcessed">
                                <span class="fa fa-spinner"></span>
                            </span>

                </h3>
                <div class="bs-callout bs-callout-primary">
                    <p> Pathway view network shows network of pathways or perturbations that target the input genes.
                    </p>
                </div>
            </div>
            <hr/>
            <div ng-show="ctrl.showGeneNetworkProcessed">


                <select
                        ng-model="selectedPathways"
                        ng-change="changedValue(selectedPathways)"
                        ng-options="x.value for x in pathways">
                </select>
                <hr/>

                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button class="btn btn-primary " id='saveButton'>Download as high resolution PNG</button>
                    </div>

                    <div class="btn-group" role="group" aria-label="Second group">
                        <button class="btn btn-primary " id="download">Download as SVG</button>
                    </div>
                </div>


                <!--<canvas id="canvas" height="1300" width="1300"/>-->
                <br/>

                <!--<canvas id="canvas" height="1300" width="1300">-->
                <!--<div id="chartCola"></div>-->
                <div id="chart">

                    <div>
                        <button class="btn1" id='force1' title='Implement force layout'>
                            <i class='fa fa-random'></i>
                        </button>
                        <button class="btn2" id='circularView1' title='Implement circular layout'>
                            <i class='fa fa-circle-o'></i>
                        </button>
                        <button class="btn3" id='parallelView1' title='Rearrange nodes in columns'>
                            <i class='fa fa-align-justify'></i>
                        </button>
                        <button class="btn4" id='customizedParallelView1' title='Implement parallel layout'>
                            <i class='fa fa-map-o'></i>
                        </button>
                        <button class="btn5" id='customizedCircularView1' title='Implement customized circular layout'>
                            <i class='fa fa-dot-circle-o'></i>
                        </button>
                        <button class="btn6" id='download-png1' title='download as PNG'>
                            <i class='fa fa-download'></i>
                        </button>
                        <button class="btn7" id='question1'
                                title='Gray nodes: Query Gene Set, Red nodes: Pathways / Kinases Perturbation'>
                            <i class='fa fa-question-circle'></i>
                        </button>
                        <button class="btn8" id='drug1'
                                title='Gray nodes: Query Gene Set, Red nodes: Pathways / Kinases Perturbation'>
                            <i class='fa fa-eyedropper'></i>
                        </button>


                    </div>

                </div>
                <div ng-show="ctrl.showGrid1">
                    <div id="example" class="parcoords">
                        <!--<div>-->
                        <!--<button class="btn1" id='force1' title='Implement force layout'>-->
                        <!--<i class='fa fa-random'></i>-->
                        <!--</button>-->
                        <!--<button class="btn2" id='parallelNetwork1' title='Implement grid layout'>-->
                        <!--<i class='fa fa-align-justify'></i>-->
                        <!--</button>-->
                        <!--<button class="btn3" id='circularNetwork1' title='Implement circular layout'>-->
                        <!--<i class='fa fa-circle-o'></i>-->
                        <!--</button>-->
                        <!--<button class="btn4" id='download-png1' title='download as PNG'>-->
                        <!--<i class='fa fa-download'></i>-->
                        <!--</button>-->
                        <!--<button class="btn5" id='question1' title='Gray nodes: Query Gene Set, Red nodes: Pathways / Kinases Perturbation'>-->
                        <!--<i class='fa fa-question-circle'></i>-->
                        <!--</button>-->

                        <!--<button class="btn6" id='parallelNetwork1-1' title='Gray nodes: Query Gene Set, Red nodes: Pathways / Kinases Perturbation'>-->
                        <!--<i class='fa fa-question-circle'></i>-->
                        <!--</button>-->
                        <!--</div>-->

                    </div>
                    <div id="grid1">
                        <h1>
                            I am showing grid1
                        </h1>
                    </div>

                </div>

            </div>
        </div>


        <div ng-show="ctrl.showGeneNetwork">
            <div class="well">
                <h3>Kinase Network View
                    <span ng-show="!ctrl.showKinaseNetworkProcessed">
                                <span class="fa fa-spinner fa-pulse fa-2x fa-fw"></span>
                            </span>


                </h3>
                <div class="bs-callout bs-callout-primary">
                    <p> Kinase network view shows network of kinases phosohorylating the input genes and
                        list of genes getting phosphorylated by the input genes.
                    </p>
                </div>
            </div>
            <hr/>
            <div ng-show="ctrl.showKinaseNetworkProcessed">

                <button>
                    <a id="download2" href="#">Download SVG
                    </a>
                </button>
                <br/>
                <div id="chart2"></div>
            </div>
        </div>

        <div ng-show="ctrl.showPhosphoGeneNetwork">
            <div class="well">
                <h3>Kinase Network for Phosphorylated Genes View
                    <span ng-show="!ctrl.showPhosphoGeneNetworkProcessed">
                                <span class="fa fa-spinner fa-pulse fa-2x fa-fw"></span>
                            </span>


                </h3>
                <div class="bs-callout bs-callout-primary">
                    <p> Kinase network of phosphorylated genes reflects the connection between kinases and gene products
                        phosphorylated
                        at specific sites. Solid lines mean known relations between the kinases and target genes (in
                        Known_Kinase_TargetGene) or
                        exact matching between the kinase target and the peptide sequence in
                        (Known+Predicted_Blosum50_Kinase_TargetGene and
                        Known+Predicted_Probability_Kinase_TargetGene). Dashed lines show probable inkage between kinase
                        and target genes based on blosum50 similarity scores or phosphosite plus connectivity networks.
                    </p>
                </div>
            </div>
            <hr/>
            <div ng-show="ctrl.showPhosphoGeneNetworkProcessed">

                <select
                        ng-model="selectedphosphoPathways"
                        ng-change="changedPhosphoValue(selectedphosphoPathways)"
                        ng-options="x.value for x in phosphoOptions">
                </select>
                <hr/>
                <button>
                    <a id="download3" href="#">Download SVG
                    </a>
                </button>
                <br/>
                <div id="chart3"></div>
            </div>
        </div>


    </div>
</div>
