/* Tooltip */
.tooltip > .tooltip-inner{
    text-align: left;
    background-color: steelblue;
    min-width: 300px;
}
/* Tooltip did not render in a table */
td .tooltip {
    position:absolute
}

/* Spin ----------------------------- */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Sticky footer */
/* Sticky footer styles -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

/*tabs for help.html*/

.tabbed{
    float : left;
    width : 100%;
}

.tabbed > input{
    display : none;
}

.tabbed > section > h1{
    float       : left;
    box-sizing  : border-box;
    margin      : 0;
    padding     : 0.5em 0.5em 0;
    overflow    : hidden;
    font-size   : 1em;
    font-weight : normal;
}

.tabbed > input:first-child + section > h1{
    padding-left : 1em;
}

.tabbed > section > h1 > label{
    display                 : block;
    padding                 : 0.25em 0.75em;
    border                  : 1px solid #ddd;
    border-bottom           : none;
    border-top-left-radius  : 4px;
    border-top-right-radius : 4px;
    box-shadow              : 0 0 0.5em rgba(0,0,0,0.0625);
    background              : #fff;
    cursor                  : pointer;
    -moz-user-select     : none;
    -ms-user-select     : none;
    -webkit-user-select     : none;
}

.tabbed > section > div{
    position      : relative;
    z-index       : 1;
    float         : right;
    box-sizing    : border-box;
    width         : 100%;
    margin        : 2.5em 0 0 -100%;
    padding       : 0.5em 0.75em;
    border        : 1px solid #ddd;
    border-radius : 4px;
    box-shadow    : 0 0 0.5em rgba(0,0,0,0.0625);
    background    : #fff;
}

.tabbed > input:checked + section > h1{
    position : relative;
    z-index  : 2;
}

.tabbed > input:not(:checked) + section > div{
    display : none;
}

/*End of tabs for help.html*/






.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

/* Callouts */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}
.list-responsive-vertical2 {
    flex: 1 0 calc(25% - 10px);
    box-sizing: border-box;

    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    max-height:62px;
    max-width:530px;

}
/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {*/
    /*background-color: #f7f7f7;*/
/*}*/
.list-responsive-vertical {
    max-width:530px;
    min-width:50px;

    overflow-x: auto;
    overflow-y: auto;
    max-height:62px;
    word-wrap:break-word;
    width:100%;

}

.boldText { font-weight: bold; }

.list-responsive-vertical2 {
    max-width:180px;
    overflow-x: auto;
    overflow-y: auto;
    max-height:100px;
    word-wrap:break-word;
}

.list-responsive-vertical3 {
    max-width:600px;
    overflow-x: auto;
    overflow-y: auto;
    max-height:100px;
    margin-left: -10px;
    word-wrap:break-word;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}

#chart rect {
    fill: white;
}

/*path.link {*/
    /*fill: none;*/
    /*stroke: #666;*/
    /*stroke-width: 1px;*/
/*}*/

marker#licensing {
    fill: lightgreen;
}

path.link.licensing {
    stroke: lightgreen;
}

path.link.resolved {
    stroke-dasharray: 0,2 1;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 3px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

.solid{
    stroke:solid;
}

.dashed{
    stroke-dasharray: 1,1;
}

text.shadow {
    stroke: #fff;
    stroke-width: 4px;
}

.pool {
    fill: "white";
    stroke: "yellow";
}

marker#arrow {
    stroke: #000000;
    fill: #22222;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}
/*.legend {                                                   !* NEW *!*/
    /*font-size: 12px;                                          !* NEW *!*/
/*}                                                           !* NEW *!*/
rect {                                                      /* NEW */
    stroke-width: 2;                                          /* NEW */
}

caption {
    background-color: #eee9e9;
}
/*marker#licensing {*/
    /*fill: lightgreen;*/
/*}*/
/*These are for layout and download svgs*/
/*button {*/
    /*position: absolute;*/
    /*width: 30px;*/
/*}*/


/*button#force {*/
    /*margin-top: 150px;*/

    /*position: absolute;*/
/*}*/
/*button#grid {*/
    /*margin-top: 150px;*/

    /*position: absolute;*/
/*}*/
/*button#circular {*/
    /*margin-top: 150px;*/

    /*position: absolute;*/
/*}*/
/*button#download-png {*/
    /*margin-top: 150px;*/

    /*position: absolute;*/
/*}*/
/*button#question {*/
    /*margin-top: 150px;*/

    /*position: absolute;*/
/*}*/
.btn1top {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: -300px;

    position: absolute;
}
.btn2top {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: -250px;

    position: absolute;
}
.btn1 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 30px;

    position: absolute;
}
.btn2 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 80px;

    position: absolute;
}
.btn3 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 130px;

    position: absolute;
}
.btn4 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 280px;

    position: absolute;
}


.btn5 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 330px;

    position: absolute;
}

.btn6 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 180px;

    position: absolute;
}

.btn7 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 230px;

    position: absolute;
}


.btn8 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 280px;

    position: absolute;
}

.btn9 {
    /*color:black;*/
    display: block;
    margin: 30px;
    padding: 7px 15px;
    font: 300 150% langdon;
    /*background: transparent;*/
    border: 3px solid black;
    cursor: pointer;
    margin-top: 330px;

    position: absolute;
}
.btn1top:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn2top:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.btn1:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn2:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn3:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn4:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn5:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn6:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn7:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn8:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
.btn9:hover {
    border: 3px solid;
    box-shadow: inset 0 0 200px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
/*This is for parallel layout*/
/*@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);*/
/*body {*/
    /*font-size: 14px;*/
    /*font-family: "TimesNewRoman", Consolas, monaco, monospace;*/
    /*margin: 20px auto 20px;*/
    /*width: 960px;*/
    /*line-height: 1.45em;*/
/*}*/
/*a {*/
    /*color: #454545;*/
/*}*/
/*a:hover {*/
    /*color: #000;*/
/*}*/
/*ul {*/
    /*margin: 0 20px;*/
    /*padding: 0;*/
/*}*/
.dark {
    background: #006699;
}
/*#chart {*/
    /*min-height: 300px;*/
    /*margin: 12px 0;*/
/*}*/
/*p {*/
    /*width: 560px;*/
/*}*/
/*pre {*/
    /*color: #444;*/
    /*font-family: TimesNewRoman, monospace;*/
    /*padding: 4px 8px;*/
    /*background: #f2f2f2;*/
    /*border: 1px solid #ccc;*/
/*}*/
/*h1 small {*/
    /*font-weight: normal;*/
    /*font-size: 0.5em;*/
/*}*/
/*h3 {*/
    /*margin-top: 40px;*/
/*}*/
/*.float {*/
    /*float: left;*/
/*}*/
/*.centered {*/
    /*text-align: center;*/
/*}*/
/*.hide {*/
    /*display: none;*/
/*}*/
/*input {*/
    /*font-size: 16px;*/
/*}*/

/* data table styles */
#grid { height: 240px; }
.row, .header { clear: left; font-size: 11px; line-height: 24px; height: 24px; }
.row:nth-child(odd) { background: rgba(0,0,0,0.2); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 160px; height: 18px; }
.col-0 { width: 120px; }


/* parcoords styles */
/*.parcoords > svg, .parcoords > canvas {*/
    /*font: 11px "TimesNewRoman", Consolas, monaco, monospace;*/
    /*position: absolute;*/
/*}*/
/*.parcoords > canvas {*/
    /*pointer-events: none;*/
/*}*/

/*.parcoords text.label {*/
    /*cursor: default;*/
/*}*/

/*.parcoords rect.background {*/
    /*fill: transparent;*/

/*}*/
/*.parcoords rect.background:hover {*/
    /*fill: rgba(120,120,120,0.2);*/
/*}*/
/*.parcoords .resize rect {*/
    /*fill: rgba(0,0,0,0.05);*/
/*}*/
/*.parcoords rect.extent {*/
    /*fill: rgba(255,255,255,0.25);*/
    /*stroke: rgba(0,0,0,0.6);*/
/*}*/
/*.parcoords .axis line, .parcoords .axis path {*/
    /*fill: none;*/
    /*stroke: #21638c;*/
    /*shape-rendering: crispEdges;*/
/*}*/
/*.parcoords canvas {*/
    /*opacity: 1;*/
    /*-moz-transition: opacity 0.5s;*/
    /*-webkit-transition: opacity 0.5s;*/
    /*-o-transition: opacity 0.5s;*/
/*}*/
/*.parcoords canvas.faded {*/
    /*opacity: 0.75;*/
/*}*/
/*.parcoords {*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/
/*.background path {*/
    /*fill: none;*/
    /*stroke: #ddd;*/
    /*shape-rendering: crispEdges;*/
/*}*/






/*.background path {*/
    /*fill: none;*/
    /*stroke: #ddd;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.foreground path {*/
    /*fill: none;*/
    /*stroke: steelblue;*/
/*}*/

/*.brush .extent {*/
    /*fill-opacity: .3;*/
    /*stroke: #fff;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.axis line,*/
/*.axis path {*/
    /*fill: none;*/
    /*stroke: #000;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.axis text {*/
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;*/
    /*cursor: move;*/
/*}*/


/*Splash*/

.frame-area {
    display: block;
    width: 100%;  /* RESPONSIVE WIDTH */
    /*max-width: 400px;*/
    height: 800px;

    overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
    /*border: #999999 1px solid;*/
    margin: 0px;
    padding: 0px;

}

.splash {
    background: url('../images/splash-12.jpg') top center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 360px;
    z-index: 999;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow-y: scroll;
}

.splash container2{

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 360px;
    z-index: 999;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.splash-title {
    color: white;
    font-size: 3em;
    margin-top: 40px;
    text-shadow: 0 2px 10px #000;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.splash-title2 {
    color: white;
    font-size: 2em;
    margin-top: 40px;
    text-shadow: 0 2px 10px #000;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.splash-title4 {
    color: white;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 15px;
    text-shadow: 0 1px 1px #000;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.splash-title3 {
    color: #337ab7;
    font-size: 1em;
    margin-top: 30px;
    text-shadow: #abc3d8;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.splash-title5 {
    color: black;
    font-size: 1em;
    margin-top: 20px;
    text-shadow: #abc3d8;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.splash-title6 {
    color: black;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 15px;
    text-shadow: 0 1px 1px #000;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.splash-title9 {
    color: white;
    font-size: 1.3em;
    /*margin-top: 20px;*/
    /*margin-bottom: 15px;*/
    text-shadow: 0 1px 1px #000;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.splash-title7 {
    color: #c7d9e8;
    font-size: 1em;
    /*margin-top: 30px;*/
    text-shadow: #152736;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.splash-title10 {
    color: white;
    font-size: 0.8em;
    /*margin-top: 30px;*/
    text-shadow: #abc3d8;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.splash-title8 {
    color: black;
    font-size: 1.0em;
    margin-top: 10px;
    margin-bottom: 10px;
    /*text-shadow: 0 1px 1px white;*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
a.splash-arrow {
    color: white;
    font-size: 1.2em;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -25px;
    padding: 10px;
    width: 50px;
    height: 50px;
    font-weight: bold;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
    border: 3px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

a.splash-arrow:hover {
    text-decoration: none;
    bottom: 10px;

}




@media all and (max-width: 690px) {
    header h1 { width: 100%; text-align: center; }
    header nav { float: none; display: inline-block; margin: 0 auto; }
    .splash-title {font-size: 2em;}
}

@media all and (max-width: 480px) {
    .splash-title {font-size: 1.5em;}
}




/*#arrowBar2 a .AB2rotate:hover{   !* The breadcrumbs are hightlighted Yellow during mouseover. *!*/
    /*background-color: #ffff00;*/
    /*color: black;*/
/*}*/















.onerow {
    display:inline-block;
}

.onerow2 {
    display:inline-block;
}

.onerow3 {
    display:inline;
}




#colour-variations {
    padding: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 140px;
    position: fixed;
    left: 0;
    top: 100px;
    z-index: 999999;
    background: #fff;
    /*border-radius: 4px;*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
}

#colour-variations.sleep {
    margin-left: -160px;
}

#colour-variations h3 {
    text-align: center;;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #777;
    margin: 0 0 10px 0;
    padding: 0;;
}

#colour-variations ul,
#colour-variations ul li {
    padding: 0;
    margin: 0;
}

#colour-variations ul {
    margin-bottom: 20px;
    float: left;
}

#colour-variations li {
    list-style: none;
    display: inline;
}

#colour-variations li a {
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
    margin: 5px;
}

#colour-variations li a[data-theme="style"] {
    background: #8dc63f;
}

#colour-variations li a[data-theme="red"] {
    background: #FA5555;
}

#colour-variations li a[data-theme="turquoise"] {
    background: #27E1CE;
}

#colour-variations li a[data-theme="blue"] {
    background: #2772DB;
}

#colour-variations li a[data-theme="orange"] {
    background: #FF7844;
}

#colour-variations li a[data-theme="yellow"] {
    background: #FCDA05;
}

#colour-variations li a[data-theme="pink"] {
    background: #F64662;
}

#colour-variations li a[data-theme="purple"] {
    background: #7045FF;
}

#colour-variations a[data-layout="boxed"],
#colour-variations a[data-layout="wide"] {
    padding: 2px 0;
    width: 48%;
    border: 1px solid #ededed;
    text-align: center;
    color: #777;
    display: block;
}

#colour-variations a[data-layout="boxed"]:hover,
#colour-variations a[data-layout="wide"]:hover {
    border: 1px solid #777;
}

#colour-variations a[data-layout="boxed"] {
    float: left;
}

#colour-variations a[data-layout="wide"] {
    float: right;
}

.option-toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: -30px;
    width: 30px;
    height: 30px;
    background: #8dc63f;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .1);
}

.option-toggle i {
    top: 2px;
    position: relative;
}

.option-toggle:hover, .option-toggle:focus, .option-toggle:active {
    color: #fff;
    text-decoration: none;
    outline: none;
}

h2 {
    margin-bottom: 20px;
    color: #474E69;
}

/* ===========================
   ====== Contact Form =======
   =========================== */

/*input, textarea {*/
    /*padding: 10px;*/
    /*border: 1px solid #E5E5E5;*/
    /*width: 200px;*/
    /*color: #999999;*/
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;*/
    /*-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;*/
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;*/
/*}*/

/*textarea {*/
    /*width: 400px;*/
    /*height: 150px;*/
    /*max-width: 400px;*/
    /*line-height: 18px;*/
/*}*/

/*input:hover, textarea:hover,*/
/*input:focus, textarea:focus {*/
    /*!*border-color: 1px solid #C9C9C9;*!*/
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;*/
    /*-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;*/
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;*/
/*}*/

/*.form label {*/
    /*margin-left: 15px;*/
    /*color: #999999;*/
/*}*/

/*.form {*/
    /*padding-top: 10px;*/
    /*margin-left: 15px;*/
    /*color: #999999;*/
/*}*/

/* ===========================
   ====== Submit Button ======
   =========================== */

.submit input {
    padding-top: 10px;
    width: 100px;
    height: 40px;
    background-color: #474E69;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}









/* navbar*/
.navbar container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: white;
}
/*Select*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;

    /*font: inherit;*/
    /*font-size: 100%;*/
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/*body {*/
    /*background-color: #EDEAE3;*/
    /*padding-top: 40px;*/
    /*font-family: helvetica, arial, sans-serif;*/
    /*font-size: 1em;*/
/*}*/

/** {*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

#wrapper {
    width: 680px;
    margin: 0 auto;
    padding-top: 50px;
}

#wrapper2 {
    width: 680px;
    margin: 0 auto;
    padding-top: 50px;
}

#wrapper3 {
    width: 680px;
    margin: 0 auto;
    padding-top: 50px;
}



.card-drop {
    max-width: 250px;
    position: relative;
    margin: 0 auto;
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
    /*padding-top: 50px;*/
}
.card-drop a {
    display: block;
    width: 100%;
    background-color: salmon;
    padding: 20px 40px 20px 0px;
    height: 60px;
    text-decoration: none;
    color: #2a393b;
    background-color: #d2d8e0;
    border-bottom: 1px solid #888c91;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /*padding-top: 50px;*/
}
.card-drop a i {
    display: inline-block;
    width: 40px;
    padding: 0px 10px 0 0px;
    /*padding-top: 50px;*/
}
.card-drop > a.toggle {
    position: relative;
    z-index: 300;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
    background-color: #e3e6ea;
}
.card-drop > a.toggle:active {
    -moz-transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
}
.card-drop > a.toggle.active:before {
    content: "\f0d8";
}
.card-drop > a.toggle:before {
    font-family: 'FontAwesome';
    content: '\f0d7';
    font-size: 1.3em;
    color: #919396;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    height: 59px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    display: block;
    border-left: 1px solid #888c91;
}
.card-drop ul {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}
.card-drop ul li {
    margin: 0 auto;
    -moz-transition: all, ease-out 0.3s;
    -o-transition: all, ease-out 0.3s;
    -webkit-transition: all, ease-out 0.3s;
    transition: all, ease-out 0.3s;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}
.card-drop ul li a:hover {
    background-color: #e3e7ed;
    color: #4a4b4c;
}
.card-drop ul li.active a {
    color: #2e2f30;
    background-color: #babbbc;
    cursor: default;
}
.card-drop ul li.closed a:hover {
    cursor: default;
    background-color: #d2d8e0;
}

/*+++++++++++++++++++*/

.card-drop2 {
    max-width: 250px;
    position: relative;
    margin: 0 auto;
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
    /*padding-top: 50px;*/
}
.card-drop2 a {
    display: block;
    width: 100%;
    background-color: salmon;
    padding: 20px 40px 20px 0px;
    height: 60px;
    text-decoration: none;
    color: #2a393b;
    background-color: #d2d8e0;
    border-bottom: 1px solid #888c91;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /*padding-top: 50px;*/
}
.card-drop2 a i {
    display: inline-block;
    width: 40px;
    padding: 0px 10px 0 0px;
    /*padding-top: 50px;*/
}
.card-drop2 > a.toggle {
    position: relative;
    z-index: 300;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
    background-color: #e3e6ea;
}
.card-drop2 > a.toggle:active {
    -moz-transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
}
.card-drop2 > a.toggle.active:before {
    content: "\f0d8";
}
.card-drop2 > a.toggle:before {
    font-family: 'FontAwesome';
    content: '\f0d7';
    font-size: 1.3em;
    color: #919396;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    height: 59px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    display: block;
    border-left: 1px solid #888c91;
}
.card-drop2 ul {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}
.card-drop2 ul li {
    margin: 0 auto;
    -moz-transition: all, ease-out 0.3s;
    -o-transition: all, ease-out 0.3s;
    -webkit-transition: all, ease-out 0.3s;
    transition: all, ease-out 0.3s;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}
.card-drop2 ul li a:hover {
    background-color: #e3e7ed;
    color: #4a4b4c;
}
.card-drop2 ul li.active a {
    color: #2e2f30;
    background-color: #babbbc;
    cursor: default;
}
.card-drop2 ul li.closed a:hover {
    cursor: default;
    background-color: #d2d8e0;
}
/*+++++++++++++++++++*/

.card-drop3 {
    max-width: 250px;
    position: relative;
    margin: 0 auto;
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
    /*padding-top: 50px;*/
}
.card-drop3 a {
    display: block;
    width: 100%;
    background-color: salmon;
    padding: 20px 40px 20px 0px;
    height: 60px;
    text-decoration: none;
    color: #2a393b;
    background-color: #d2d8e0;
    border-bottom: 1px solid #888c91;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    /*padding-top: 50px;*/
}
.card-drop3 a i {
    display: inline-block;
    width: 40px;
    padding: 0px 10px 0 0px;
    /*padding-top: 50px;*/
}
.card-drop3 > a.toggle {
    position: relative;
    z-index: 300;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    -webkit-transition: linear 0.1s;
    transition: linear 0.1s;
    background-color: #e3e6ea;
}
.card-drop3 > a.toggle:active {
    -moz-transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
}
.card-drop3 > a.toggle.active:before {
    content: "\f0d8";
}
.card-drop3 > a.toggle:before {
    font-family: 'FontAwesome';
    content: '\f0d7';
    font-size: 1.3em;
    color: #919396;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    height: 59px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    display: block;
    border-left: 1px solid #888c91;
}
.card-drop3 ul {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}
.card-drop3 ul li {
    margin: 0 auto;
    -moz-transition: all, ease-out 0.3s;
    -o-transition: all, ease-out 0.3s;
    -webkit-transition: all, ease-out 0.3s;
    transition: all, ease-out 0.3s;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
}
.card-drop3 ul li a:hover {
    background-color: #e3e7ed;
    color: #4a4b4c;
}
.card-drop3 ul li.active a {
    color: #2e2f30;
    background-color: #babbbc;
    cursor: default;
}
.card-drop3 ul li.closed a:hover {
    cursor: default;
    background-color: #d2d8e0;
}

i.human
{
    content:url('../images/human5.png');
    vertical-align:middle;
    /*padding: 2px 2px 2px 2px;*/
    /*padding-left:0px;*/
    height: 30px;
    width: 30px;
}
i.mouse
{
    content:url('../images/mouse5.png');
    vertical-align:middle;
    /*padding: 2px 2px 2px 2px;*/
    /*padding-left:0px;*/
    height:30px;
    width:50px;
}
i.rat
 {
     content:url('../images/rat5.png');
     /*background-repeat: no-repeat;*/
     /*background-position: 50% 10px;*/
     vertical-align:middle;
     /*padding: 2px 2px 2px 2px;*/
     /*padding-left:5px;*/
     height:25px;
     width:25px;
 }

select {
    width:35em;
}


/*!*custom slider*!*/
/*.custom-slider.rzslider .rz-bar {*/
    /*background: #ffe4d1;*/
    /*height: 2px;*/
/*}*/
/*.custom-slider.rzslider .rz-selection {*/
    /*background: orange;*/
/*}*/

/*.custom-slider.rzslider .rz-pointer {*/
    /*width: 8px;*/
    /*height: 16px;*/
    /*top: auto; !* to remove the default positioning *!*/
    /*bottom: 0;*/
    /*background-color: #333;*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
/*}*/

/*.custom-slider.rzslider .rz-pointer:after {*/
    /*display: none;*/
/*}*/

/*.custom-slider.rzslider .rz-bubble {*/
    /*bottom: 14px;*/
/*}*/

/*.custom-slider.rzslider .rz-limit {*/
    /*font-weight: bold;*/
    /*color: orange;*/
/*}*/

/*.custom-slider.rzslider .rz-tick {*/
    /*width: 1px;*/
    /*height: 10px;*/
    /*margin-left: 4px;*/
    /*border-radius: 0;*/
    /*background: #ffe4d1;*/
    /*top: -1px;*/
/*}*/

/*.custom-slider.rzslider .rz-tick.rz-selected {*/
    /*background: orange;*/
/*}*/
/*end of ustom slider*/

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 350px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 400px;
    /*height: 100%;*/
    padding: 0 5px;
}
div.rotate90 {
    /*width: 150px;*/
    /*height: 80px;*/
    /*background-color: yellow;*/
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
}
.ul-color {
    opacity:1.0;
    /*background: linear-gradient(180deg, transparent 1%, #efefef 50%);*/
    background: white;
    /*background: #efefef;*/

}

/*.input-color{*/
    /*padding: 0px;*/
    /*margin: 0px;*/
/*}*/
ul {
    margin: 20px;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}
/*.input-color {*/
    /*position: relative;*/
/*}*/
/*.input-color input {*/
    /*padding-left: 20px;*/
/*}*/
/*.input-color .color-box {*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*display: inline-block;*/
    /*background-color: #ccc;*/
    /*position: absolute;*/
    /*left: 5px;*/
    /*top: 5px;*/
/*}*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 3.15px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    box-shadow: 4.6px 4.6px 11.3px rgba(67, 39, 0, 0.22), 0px 0px 4.6px rgba(93, 54, 0, 0.22);
    background: rgba(232, 255, 0, 0.88);
    border-radius: 1.3px;
    border: 1.4px solid rgba(149, 189, 227, 0.49);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 5.9px rgba(93, 213, 193, 0.45), 0px 0px 0px rgba(113, 218, 201, 0.45);
    border: 0.4px solid rgba(222, 185, 98, 0.49);
    height: 14px;
    width: 14px;
    border-radius: 31px;
    background: #ff62ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(238, 255, 61, 0.88);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    box-shadow: 4.6px 4.6px 11.3px rgba(67, 39, 0, 0.22), 0px 0px 4.6px rgba(93, 54, 0, 0.22);
    background: rgba(232, 255, 0, 0.88);
    border-radius: 1.3px;
    border: 1.4px solid rgba(149, 189, 227, 0.49);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 5.9px rgba(93, 213, 193, 0.45), 0px 0px 0px rgba(113, 218, 201, 0.45);
    border: 0.4px solid rgba(222, 185, 98, 0.49);
    height: 14px;
    width: 14px;
    border-radius: 31px;
    background: #ff62ff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 7.7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: rgba(176, 194, 0, 0.88);
    border: 1.4px solid rgba(149, 189, 227, 0.49);
    border-radius: 2.6px;
    box-shadow: 4.6px 4.6px 11.3px rgba(67, 39, 0, 0.22), 0px 0px 4.6px rgba(93, 54, 0, 0.22);
}
input[type=range]::-ms-fill-upper {
    background: rgba(232, 255, 0, 0.88);
    border: 1.4px solid rgba(149, 189, 227, 0.49);
    border-radius: 2.6px;
    box-shadow: 4.6px 4.6px 11.3px rgba(67, 39, 0, 0.22), 0px 0px 4.6px rgba(93, 54, 0, 0.22);
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 5.9px rgba(93, 213, 193, 0.45), 0px 0px 0px rgba(113, 218, 201, 0.45);
    border: 0.4px solid rgba(222, 185, 98, 0.49);
    height: 14px;
    width: 14px;
    border-radius: 31px;
    background: #ff62ff;
    cursor: pointer;
    height: 7.7px;
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(232, 255, 0, 0.88);
}
input[type=range]:focus::-ms-fill-upper {
    background: rgba(238, 255, 61, 0.88);
}


.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal2-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-dialog {width: 1000px;}