@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
body {
  font-size: 14px;
  font-family: "TimesNewRoman", Consolas, monaco, monospace;
  margin: 20px auto 20px;
  width: 960px;
  line-height: 1.45em;
}
a {
  color: #454545;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #006699;
}
#example {
  min-height: 300px;
  margin: 12px 0;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: TimesNewRoman, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}

/* data table styles */
#grid { height: 240px; }
.row, .header { clear: left; font-size: 11px; line-height: 24px; height: 24px; }
.row:nth-child(odd) { background: rgba(0,0,0,0.2); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 160px; height: 18px; }
.col-0 { width: 120px; }


/* parcoords styles */
.parcoords > svg, .parcoords > canvas {
  font: 11px "TimesNewRoman", Consolas, monaco, monospace;
  position: absolute;
}
.parcoords > canvas {
  pointer-events: none;
}

.parcoords text.label {
  cursor: default;
}

.parcoords rect.background {
  fill: transparent;

}
.parcoords rect.background:hover {
  fill: rgba(120,120,120,0.2);
}
.parcoords .resize rect {
  fill: rgba(0,0,0,0.05);
}
.parcoords rect.extent {
  fill: rgba(255,255,255,0.25);
  stroke: rgba(0,0,0,0.6);
}
.parcoords .axis line, .parcoords .axis path {
  fill: none;
  stroke: #21638c;
  shape-rendering: crispEdges;
}
.parcoords canvas {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.parcoords canvas.faded {
  opacity: 0.75;
}
.parcoords {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}
/* ===========================
        ====== Contact Form =======
        =========================== */

input {
  padding: 10px;
  border: 1px solid #E5E5E5;
  width: 200px;
  color: #999999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
  width: 400px;
  height: 150px;
  max-width: 400px;
  line-height: 18px;
}

input:hover,
input:focus {
  border-color: #C9C9C9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
  margin-left: 10px;
  color: #999999;
}

/* ===========================
   ====== Submit Button ======
   =========================== */

.submit input {
  width: 100px;
  height: 40px;
  background-color: steelblue;
  color: #FFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}



input[type=text] {padding:5px; border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type=text]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; background:steelblue; border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

select {
  width:10em;
}
.linkDisabledBold {
  cursor: not-allowed;
  pointer-events: none;
  color: black;
  font-weight: bold;
}
/*css for file submission*/
/*.FileColumnSubmission {*/

  /*float: left;*/
/*}*/
/*label.FileColumnSubmission {*/
  /*width: 80px;*/
/*}*/
/*input[type="submit"] {*/
  /*width: 150px;*/
/*}*/
/*input[type="file"] {*/
  /*width: calc(100% - (80px + 50px));*/
/*}*/

.RowFileSubmission {
  width: 100%;
  table-layout: fixed;
  float: left;
}

.ColumnFileSubmission {
  display: inline-block;
  /*background-color: red;*/
  resize:both;
}
